html{
    /* Отображение элемента: Блок */
    display: block;
    /* Позиционирование элемента: Относительное */
    position: relative;
    /* Просчет размеров элемента: Игнорировать внутрение отступы */
    box-sizing: border-box;
    /* Обтекание элемента: По левому краю */
    float: left;
    
    /* Внешний отступ элемента */
    margin: 0px;
    /* Внутренний отступ элемента */
    padding: 0px;
    
    /* Ширина элемента */
    width: 100%;
    /* Высота элемента */
    height: 100%;
    
    /* Полоса прокрутки: Скрыта */
    overflow: hidden;
}

body{
    /* Отображение элемента: Блок */
    display: block;
    /* Позиционирование элемента: Относительное */
    position: relative;
    /* Просчет размеров элемента: Игнорировать внутрение отступы */
    box-sizing: border-box;
    /* Обтекание элемента: По левому краю */
    float: left;
    
    /* Внешний отступ элемента */
    margin: 0px;
    /* Внутренний отступ элемента */
    padding: 0px;
    
    /* Ширина элемента */
    width: 100%;
    /* Высота элемента */
    height: 100%;
    
    /* Полоса прокрутки: Скрыта */
    overflow: hidden;
}